{# templates/map/index.html.twig #}

<!DOCTYPE html>
<html>
<head>

</head>
<body>
   

        <iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen referrerpolicy="no-referrer-when-downgrade" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBa8l76bfCyfPiwJeFLJCMFhRb_lOSS58M&q=36.8542048,10.2623629">

</iframe>

    <script>
      
        
    </script>
</body>
</html>
