<form method="post" action="{{ path('app_terrain_deleteadmin', {'id_Terrain': terrain.getIdTerrain()}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ terrain.getIdTerrain()) }}">
    <button class="btn">Delete</button>
</form>
