{% extends 'base.html.twig' %}

{% block title %}New Classementequipe{% endblock %}

{% block body %}
    <h1>Create new Classementequipe</h1>

    {{ include('classementequipe/_form.html.twig') }}

    <a href="{{ path('app_classementequipe_index') }}">back to list</a>
{% endblock %}
