<form method="post" action="{{ path('app_score_delete', {'idscore': score.idscore}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ score.idscore) }}">
    <button class="btn">Delete</button>
</form>
