<!DOCTYPE html>
<html lang="en">
   <!-- Basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- Mobile Metas -->
   <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
   <!-- Site Metas -->
   <title>Game Info</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- Site Icons -->
   <link rel="shortcut icon" href="" type="image/x-icon" />
   <link rel="apple-touch-icon" href="">
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="css/bootstrap.min.css">
   <!-- Site CSS -->
   <link rel="stylesheet" href="style.css">
   <!-- Colors CSS -->
   <link rel="stylesheet" href="css/colors.css">
   <!-- ALL VERSION CSS -->	
   <link rel="stylesheet" href="css/versions.css">
   <!-- Responsive CSS -->
   <link rel="stylesheet" href="css/responsive.css">
   <!-- Custom CSS -->
   <link rel="stylesheet" href="css/custom.css">
   <!-- font family -->
   <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
   <!-- end font family -->
   <link rel="stylesheet" href="css/3dslider.css" />
   <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
   <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
   <script src="js/3dslider.js"></script>
   </head>
   <style>
   
   .img-account-profile {
    height: 10rem;
}
.rounded-circle {
    border-radius: 50% !important;
}
.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
.card .card-header {
    font-weight: 500;
}
.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.form-control, .dataTable-input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
    color: #0061f2;
    border-bottom-color: #0061f2;
}
.nav-borders .nav-link {
    color: #69707a;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}
</style>
<body class="game_info" data-spy="scroll" data-target=".header">
    <!-- LOADER -->
    <div id="preloader">
       <img class="preloader" src="images/loading-img.gif" alt="">
    </div>
    <!-- END LOADER -->
    <section id="top">
       <header>
          <div class="container">
             <div class="header-top">
                <div class="row">
                   <div class="col-md-6">
                      <div class="full">
                         <div class="logo" >
                            <a href="index.html"><img src="images/logo.png" alt="#" style="    width: 157px;"/></a>
                         </div>
                      </div>
                   </div>
                   <div class="col-md-6">
                      <div class="right_top_section">
                        <a href="login.html" class="btn btn-danger">Déconnexion</a>
                    </div>
                   </div>
                </div>
             </div>
             <div class="header-bottom">
                <div class="row">
                   <div class="col-md-12">
                      <div class="full">
                         <div class="main-menu-section">
                            <div class="menu">
                               <nav class="navbar navbar-inverse">
                                  <div class="navbar-header">
                                     <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
                                     <span class="sr-only">Toggle navigation</span>
                                     <span class="icon-bar"></span>
                                     <span class="icon-bar"></span>
                                     <span class="icon-bar"></span>
                                     </button>
                                     <a class="navbar-brand" href="#">Menu</a>
                                  </div>
                                  <div class="collapse navbar-collapse js-navbar-collapse">
                                     <ul class="nav navbar-nav">
                                        <li class="active"><a href="index.html">Home</a></li>
                                        <li><a href="team.html">Equipement</a></li>
                                        <li><a href="categorie.html">categorie</a></li>

                                        <li class="dropdown mega-dropdown">
                                           <a href="categorie.html" class="dropdown-toggle" data-toggle="dropdown">Match<span class="caret"></span></a>				
                                           <ul class="dropdown-menu mega-dropdown-menu">
                                              <li class="col-sm-8">
                                                 <ul>
                                                    <li class="dropdown-header">Men Collection</li>
                                                    <div id="menCollection" class="carousel slide" data-ride="carousel">
                                                       <div class="carousel-inner">
                                                          <div class="item active">
                                                             <div class="banner-for-match"><a href="#"><img class="img-responsive" src="images/match-banner1.jpg" alt="#" /></a></div>
                                                          </div>
                                                          <!-- End Item -->
                                                          <div class="item">
                                                             <div class="banner-for-match"><a href="#"><img class="img-responsive" src="images/match-banner1.jpg" alt="#" /></a></div>
                                                          </div>
                                                          <!-- End Item -->
                                                          <div class="item">
                                                             <div class="banner-for-match"><a href="#"><img class="img-responsive" src="images/match-banner1.jpg" alt="#" /></a></div>
                                                          </div>
                                                          <!-- End Item -->                                
                                                       </div>
                                                       <!-- End Carousel Inner -->
                                                       <!-- Controls -->
                                                       <a class="left carousel-control" href="#menCollection" role="button" data-slide="prev">
                                                       <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                                       <span class="sr-only">Previous</span>
                                                       </a>
                                                       <a class="right carousel-control" href="#menCollection" role="button" data-slide="next">
                                                       <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                                       <span class="sr-only">Next</span>
                                                       </a>
                                                    </div>
                                                    <!-- /.carousel -->
                                                 </ul>
                                              </li>
                                              <li class="col-sm-4">
                                                 <ul class="menu-inner">
                                                    <li class="dropdown-header">Next Matchs</li>
                                                    <li><a href="#">Contrary vs classical</a></li>
                                                    <li><a href="#">Discovered vs undoubtable</a></li>
                                                    <li><a href="#">Contrary vs classical</a></li>
                                                    <li><a href="#">Discovered vs undoubtable</a></li>
                                                    <li><a href="#">Contrary vs classical</a></li>
                                                    <li><a href="#">Discovered vs undoubtable</a></li>
                                                    <li><a href="#">Contrary vs classical</a></li>
                                                    <li><a href="#">Discovered vs undoubtable</a></li>
                                                 </ul>
                                              </li>
                                           </ul>
                                        </li>
                                        <li><a href="res.html">Reservation</a></li>
                                        <li><a href="equip.html"> Competition et Score</a></li>


                                        <li><a href="contact.html">contact</a></li>
                                     </ul>
                                  </div>
                                  <!-- /.nav-collapse -->
                               </nav>
                               <div class="search-bar">
                                  <div id="imaginary_container">
                                     <div class="input-group stylish-input-group">
                                        <input type="text" class="form-control"  placeholder="Search" >
                                        <span class="input-group-addon">
                                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>  
                                        </span>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
         <div class="full-slider">
            <div id="carousel-example-generic" class="carousel slide">
               <!-- Indicators -->
               <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
               </ol>
               <!-- Wrapper for slides -->
               <div class="carousel-inner" role="listbox">
                  <!-- First slide -->
                  <div class="item active deepskyblue" data-ride="carousel" data-interval="5000">
                     <div class="carousel-caption">
                        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12"></div>
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                           <div class="slider-contant" data-animation="animated fadeInRight">
                            <h3 style="    position: relative; top: 183px;">Welcome <br>To <span class="color-yellow">Sportify</span><br>to win!</h3>
                             
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- /.item -->
                  <!-- Second slide -->
                  <div class="item skyblue" data-ride="carousel" data-interval="5000">
                     <div class="carousel-caption">
                        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12"></div>
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                           <div class="slider-contant" data-animation="animated fadeInRight">
                            <h3 style="    position: relative; top: 183px;">>If you Don’t Practice<br>You <span class="color-yellow">Don’t Derserve</span><br>to win!</h3>
                            
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- /.item -->
                  <!-- Third slide -->
                  <div class="item darkerskyblue" data-ride="carousel" data-interval="5000">
                     <div class="carousel-caption">
                        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12"></div>
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                           <div class="slider-contant" data-animation="animated fadeInRight">
                            <h3 style="    position: relative; top: 183px;">If you Don’t Practice<br>You <span class="color-yellow">Don’t Derserve</span><br>to win!</h3>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- /.item -->
               </div>
               <!-- /.carousel-inner -->
               <!-- Controls -->
               <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
               <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
               <span class="sr-only">Previous</span>
               </a>
               <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
               <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
               <span class="sr-only">Next</span>
               </a>
            </div>
            <!-- /.carousel -->
            <div class="news">
               <div class="container">
                  <div class="heading-slider">
                     <p class="headline"><i class="fa fa-star" aria-hidden="true"></i> Top Headlines :</p>
                     <!--made by vipul mirajkar thevipulm.appspot.com-->
                     <h1>
                     <a href="" class="typewrite" data-period="2000" data-type='[ "Sportify."]'>
                     <span class="wrap"></span>
                     </a>
                     </h1	   
                     <span class="wrap"></span>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </section>
    
      <section style="background-color: #eee;">
        <div class="container py-5">
          <div class="row">
            <div class="col">
             <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                <ol class="breadcrumb mb-0">
                  
                  <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                  <li class="breadcrumb-item active" aria-current="page"><a href="" style="color: green;">Modifier Profile</a></li>

                </ol>
              </nav>
            </div>
          </div>
      
          <div class="container-xl px-4 mt-4">
            
            <hr class="mt-0 mb-4">
            <div class="row">
                <div class="col-xl-4">
                    <!-- Profile picture card-->
                    <div class="card mb-4 mb-xl-0">
                        <div class="card-header">Profile</div>
                        <div class="card-body text-center">
                            <img class="img-account-profile rounded-circle mb-2" src="" alt="">
                            <div class="small font-italic text-muted mb-4"></div>
                            <input type="file" placeholder="image"  style="    padding: 16px; "/>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8">
                    <div class="card mb-4">
                        <div class="card-header">
                        <div class="card-body">
                            <form>
                                <div class="mb-3">
                                    <label class="small mb-1" for="inputUsername">Username </label>
                                    <input class="form-control" id="inputUsername" type="text" placeholder="Enter your username" value="username">
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputFirstName">nom</label>
                                        <input class="form-control" id="inputFirstName" type="text" placeholder="Enter your first name" value="">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputLastName">prenom</label>
                                        <input class="form-control" id="inputLastName" type="text" placeholder="Enter your last name" value="">
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                   
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputLocation">Addresse </label>
                                        <input class="form-control" id="inputLocation" type="text" placeholder="Enter your location" value="">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="small mb-1" for="inputEmailAddress">Email </label>
                                    <input class="form-control" id="inputEmailAddress" type="email" placeholder="Enter your email address" value="">
                                </div>
                                <!-- Form Row-->
                                <div class="row gx-3 mb-3">
                                    
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputBirthday">Date de Naissance</label>
                                        <input class="form-control" id="inputBirthday" type="date" name="birthday" placeholder="Enter your birthday" value="">
                                    </div>
                                </div>
                                <!-- Save changes button-->
                                <button class="btn btn-primary" type="button" style="position: relative;left: 732px; bottom: 45px;">Enregistrer</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
      <footer id="footer" class="footer">
         <div class="container">
            <div class="row">
               <div class="col-md-4">
                  <div class="full">
                     <div class="footer-widget">
                        <div class="footer-logo">
                           <a href="#"><img src="images/logo.png" alt="#" /></a>
                        </div>
                        <p>Welcome to Sportify.</p>
                        <ul class="social-icons style-4 pull-left">
                           <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                           <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                           <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                           <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-2">
                  <div class="full">
                     <div class="footer-widget">
                        <h3>Menu</h3>
                        <ul class="footer-menu">
                           <li><a href="team.html">Our Team</a></li>
                           <li><a href="matche.html">Recent Matchs</a></li>
                           <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="full">
                     <div class="footer-widget">
                        <h3>Contact us</h3>
                        <ul class="address-list">
                           <li><i class="fa fa-map-marker"></i> Sportify..</li>
                           <li><i class="fa fa-phone"></i> +216 22312456</li>
                           <li><i style="font-size:20px;top:5px;" class="fa fa-envelope"></i> Sportify@esprit.tn</li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="full">
                     <div class="contact-footer">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d120615.72236587871!2d73.07890527988283!3d19.140910987164396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1527759905404" width="600" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="footer-bottom">
            <div class="container">
               <p>Copyright © 2034 Distributed by <a href="" target="_blank">Sportify</a></p>
            </div>
         </div>
      </footer>
      <a href="#home" data-scroll class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
      <!-- ALL JS FILES -->
      <script src="js/all.js"></script>
      <!-- ALL PLUGINS -->
      <script src="js/custom.js"></script>
   </body>
</html>